body {
    background-color: #121212;
    color: #FFA500;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #333;
    padding: 10px;
}

button {
    background-color: #FFA500;
    color: #121212;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#admin-panel {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

input, select {
    padding: 5px;
    margin: 5px;
}
