body {
    background-color: #121212;
    color: #FFA500;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden; /* جلوگیری از اسکرول افقی */
}

body.dark-theme {
    background-color: #121212;
    color: #FFA500;
}

body:not(.dark-theme) {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1e1e1e;
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #1a1a1a;
    flex-wrap: wrap;
}

.filter-btn {
    background-color: #FFA500;
    border: none;
    padding: 15px 25px; /* افزایش اندازه برای لمس راحت‌تر */
    margin: 8px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #ff8c00;
}

#searchInput {
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.item {
    background-color: #222;
    padding: 15px;
    margin: 12px;
    border-radius: 8px;
    transition: transform 0.3s;
    max-width: 100%;
}

.item:hover {
    transform: scale(1.05);
}

/* استایل‌های جدید برای ویدیوها */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* نسبت 16:9 */
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    max-width: 100%;
}

#login-panel, #admin-panel {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 8px;
    width: 90%; /* تنظیم عرض در موبایل */
    max-width: 300px;
    z-index: 999; /* نمایش بالاتر از سایر عناصر */
}



@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .filter-btn, #searchInput {
        width: 100%;
        margin: 6px 0;
    }
    
    .video-container {
        width: 100%;
    }
    
    #login-panel, #admin-panel {
        width: 90%;
        bottom: 15px;
        right: 10px;
    }
}
